# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
pip-log.txt

# Virtual environments
.env
.venv
env/
venv/
ENV/

# voc4cat working directories
outbox/
outbox_new_voc/

# OS
.DS_Store
Thumbs.db
